{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/statistic1.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div style="font-size: 24px;">
<img src="{% static 'images/jongsuk.jpg' %}" alt="Lee Jongsuk" width="150" height="150" style="padding: 20px;" class="img-circle"> 
&nbsp;&nbsp;&nbsp;{{ name }}
</div>

<div class="col-sm-6" >
	<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
	Posts : {{ jumlahstatus }}
</div>
<div class="col-sm-6" >
	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	Teman : {{ jumlahteman }}
</div>
<div class="container-fluid" id="fluida" style="padding: 10px;font-size: 25px;">
	Post Teratas<br>
	{% if postinganteratas %}
	<img src="{% static 'images/jongsuk.jpg' %}" alt="Lee Jongsuk" width="100" height="100" style="padding: 20px;" class="img-circle"> {{ name }} <br>
	<h2 style="padding: 0;">{{ postinganteratas.status }}</h2>
	<h6>{{ postinganteratas.created_date }}</h6>
	{% else %}
	<p>No Posts!</p>
	{% endif %}
</div>
<div class="coba">
<a href="/statistic/" style="padding: 20px;">Theme 1</a>
<a href="stat1/" style="padding: 20px;">Theme 2</a>
</div>
</div>
{% endblock %}
