{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/statistic.css' %}" />
<div class="container">
<img src="{% static 'images/jongsuk.jpg' %}" alt="Lee Jongsuk" width="200" height="200" class="img-circle" id="big-jongsuk"> 
<h1 style="text-align: center;">{{ name }}</h1>

<div class="col-sm-6" >
	<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
	Posts : {{ jumlahstatus }}
</div>
<div class="col-sm-6" >
	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	Friends : {{ jumlahteman }}
</div>
<div class="" style="padding: 30px;font-size: 25px;">
	Latest Post<br>
	{% if postinganteratas %}
	<img src="{% static 'images/jongsuk.jpg' %}" alt="Lee Jongsuk" width="100" height="100" style="padding: 20px;" class="img-circle" id="small-jongsuk"> {{ name }} <br>
	<h2 class="status">{{ postinganteratas.status }}</h2>
	<h6 class="tanggal">{{ postinganteratas.created_date }}</h6>
	{% else %}
	<p>No Posts!</p>
	{% endif %}
</div>
<a href="/statistic/" style="padding: 30px;">Theme 1</a>
<a href="stat1/" style="padding: 30px;">Theme 2</a>
</div>
{% endblock %}