{% extends "base.html" %}

{% block content %}

{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Meera+Inimai|Josefin+Sans|Raleway" rel="stylesheet">
<section class="container">
<h3 align = "center" class="title"> Profile</h3><br>
<center>
<img class = "img-circle" src="{% static "images/jongsuk.jpg" %}" alt = "Lee Jong-suk">
</center><br>
<h4 align = "center" , class="font1">{{ Name }}</h4><br>
<div>
<center>
<table align = "center"  width="500" cellspacing = "40" cellpadding="40" class="font2">
<tr>
	<td class="fonttable" align = "left">Birthday</td>
	<td class="fonttable" align = "left">{{ Birthday }}</td>
</tr>
<tr >
	<td class="fonttable" align = "left">Gender</td>
	<td class="fonttable" align = "left">{{ Gender }}</td>
</tr>
<tr>
	<td class="fonttable" align = "left">Expertise</td>
	<td align = "left">
		<ul>
			{% for ii in expertise %}
				<li class="exp fonttable">{{ ii }}</li>
			{% endfor %}
		</ul>
	</td>
</tr>
<tr>
	<td class="fonttable" align = "left">Description</td>
	<td class="fonttable" align = "left">{{ Description }}</td>
</tr>
<tr>
	<td class="fonttable" align = "left">Email</td>
	<td class="fonttable" align = "left">{{ Email }}</td>
</tr>
</div>
</table>
</section>
</center>

{% endblock %}
