body{
    margin: 0px;
}

.container{
    padding: 50px;
    width: 80%;
    margin: 0px auto;
    font-family: 'Raleway';
    min-height: 100vh;
}

.judul{
    margin-bottom: 10px;
    font-size: 50px;
    font-family:"Meera Inimai";
    font-weight: bold;
    color: #424255;
}



.flex{
    display: flex;
    margin-bottom: 22px;
}

.icon_container{
    flex:1;
    background-color: grey;
    border-radius: 4px 0 0 4px;
    text-align: center;
    padding: 8px;
    font-size: 17px;
    font-family: "Josefin Sans";
}

i{
    color: #E0E0E0;
}

.input_form{
    flex: 20;
    width: 100%;
    border:1px solid #aaa;
    border-radius: 0 4px 4px 0;
    border-left: none;
    padding: 8px;
    box-sizing: border-box;
    background-color: #f5f5ff;
}

.input_form:focus{
    border-color: dodgerBlue;
    box-shadow: 1px 0 6px dodgerBlue;
}

.tombol{
    text-align: right;
}

button{
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid dodgerBlue;
    background-color: #fff;
    margin-bottom: 20px;
}

button:hover{
    background-color: dodgerBlue;
    color: #fff;
    box-shadow: 0 0 8px dodgerBlue;
}

hr{
    width: 85%;
    margin: 0px auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    margin-bottom: 20px;
}

.flex2{
    display: flex;
    word-break: break-all;
}

.bagian{
    flex: 1;
    padding: 8px;
    font-size: 13px;
    text-decoration: none;

}

.bagian:nth-child(1) {
    background-color: #c0dbe2;
    text-align: left;
}
.bagian:nth-child(2) {
    background-color: #cdf1c3;
    text-align: left;

}
.bagian:nth-child(2):hover {
    color: #fff;
    background-color: dodgerBlue;
}
.bagian:nth-child(3) {
    background-color: #ccb9da;
    text-align: right;
}

@media (max-width: 500px){
    .container{
        width: 100%;
    }
    .flex2{
        display: flex;
        flex-direction: column;
    }
    .bagian{
        padding: 8px;
            flex: 1;
    }

    a{
        display: flex;
    }
    .bagian:nth-child(1) {
        background-color: #c0dbe2;
    }
    .bagian:nth-child(2) {
        background-color: #cdf1c3;
    }
    .bagian:nth-child(2):hover {
        color: #fff;
        background-color: dodgerBlue;
    }
    .bagian:nth-child(3) {
        background-color: #ccb9da;
        margin-bottom: 13px;
        text-align: left;
    }
}
