{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Roboto|Open+Sans|Raleway|Mukta:600|Meera+Inimai" rel="stylesheet">
<section>
  <div class="container" id="kontener" >
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
<form class="containerform font2"id="form" method="POST" action="{% url 'update_status:add_status' %}">
    <h2 class="title">Update Status</h2>
    {% csrf_token %}
    {{ todo_form }}

    <br>
    <input class="button fontbutton"id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Update" style="background-color: dodgerBlue">
</form>
</div>
</div>
</div>
</section>

{% if todo %}
    {% for data in todo %}
<div class="container" id="kontener" >
  <div class="col-sm-8">
      <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image">
                <img src="{% static "images/jongsuk.jpg" %}" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
                <div class="title h5 fontnama">
                    {{author}}
                </div>
                <h6 class="text-muted time font2">{{data.created_date}}</h6>
            </div>
          </div>
          <div class="post-description font2">
              <p>{{data.status}}</p>
              <div class="stats">
                <a href= "/update_status/postdelete/{{ data.id }}">
                  <img src= "{% static "images/garbage.png" %}" style="width:25px;height:25px;">
                </a>
              </div>
          </div>

      </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
