body {
  background-color: #E8EFEF;
}
table{
  padding-left: 100px
}
.container{
    padding: 50px;
    width: 60%;
    margin: 0px auto;
    font-family: 'Raleway';
    min-height: 100vh;
}
@media (max-width: 768px) {
  .container{
    width: 100%;
  }
}

.exp {
	display: inline;
	padding: 5px;
	background: #c2d6d6;
	border-radius: 20px;
}


.img-circle {
  width: 200px;
  height: auto;
  border-radius: 50%;

}
.fonttable{
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 20px;

}


.title{
  font-size: 50px;
  font-family:"Meera Inimai";
  font-weight: bold;
  color: #424255;
}

.font1{
  font-size: 35px;
  font-family: "Open Sans";
}
.font2{
  font-size: 17px;
  font-family: "Josefin Sans";
}
