{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Meera+Inimai|Josefin+Sans|Raleway" rel="stylesheet">
  <link href="{% static 'style.css' %}" rel='stylesheet'>
<div class='container'>
      <h3 class='judul'>Add Friend</h3>

      <form method='POST' action='tambahkan-teman'>
          {% csrf_token %}
          <div class='flex'>
              <div class='icon_container'><i class="fa fa-user-circle" aria-hidden="true"></i></div>
              {{ form_teman.nama }}
          </div>
          <div class='flex'>
              <div class='icon_container'><i class="fa fa-external-link" aria-hidden="true"></i></div>
              {{ form_teman.url }}
          </div>

          <section class='tombol'>
            <button id=submit type="submit">Tambah</button>
          </section>
      </form>

      <hr>

    <h3 class='judul'>Friends List</h3>
    <section>
            {% load tz %}
            {% if data %}
                {% for i in data %}
                <div class='flex2'>
                    <div class='bagian'>{{ i.nama }}</div>
                    {% if 'http' in i.url %}
                      <a class='bagian' href='{{ i.url }}' target="_blank"  >{{ i.url }}</a>
                    {% else %}
                      <a class='bagian' href='http://{{ i.url }}' target="_blank"  >{{ i.url }}</a>
                    {% endif %}
                    <div class='bagian'>ditambahkan {{ i.tanggal_dibuat|timezone:'Asia/Jakarta'|date:'d M Y H:i:s'}}</div>
                </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Tidak ada data teman</strong>
            </div>
            {% endif %}
    </section>
</div>

  {% endblock %}
