<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Meera+Inimai|Josefin+Sans|Raleway" rel="stylesheet">
<style>
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}
#footer{
  padding: 20px;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
.navbar-brand{
	margin-top: -1.5%;
  font-size: 10px;
  font-family:"Meera Inimai";
  color: #EFEDF4;
}

@media (max-width: 768px){
	.navbar-brand{
		margin-top: 2px;
	}
}

.navfont{
	margin-top: -3px;
  font-size: 17px;
  font-family: "Open Sans";
  color: #EFEDF4;
}
</style>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SosialMedia">
    <meta name="author" content="PPW B Class Group 6">
    <!-- bootstrap csss -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        SosialMedia
    </title>
</head>

<body style="background-image: url('http://efdreams.com/data_images/dreams/paper/paper-10.jpg')">
    <header>
    <div class="page-title">
    <nav class="nav" style="background-color: #C5C4C6;border-color: #0080FF;">
        <div class="container-fluid">
          <div class="navbar-header" style="">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar" style="background-color: white;"></span>
              <span class="icon-bar" style="background-color: white;"></span>
              <span class="icon-bar" style="background-color: white;"></span>
            </button>
            <a class="navbar-brand" href="#" style="">SosialMedia</a>
      </div>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav" style="background-color: #C5C4C6;">
          <li><a href="/update_status/" class="navfont">Status</a></li>
          <li><a href="/user_profile/" class="navfont">Profile</a></li>
          <li><a href="/friends/" class="navfont">Friends</a></li>
          <li><a href="/statistic/" class="navfont">Stats</a></li>

    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <footer>
        <p id="footer", style="text-align: center;">&copy; Made by Group 6 PPW (Class B)</p>
    </footer>

    <!-- Jquery n Bootstrap Script -->
