body {
	background-image: url('http://efdreams.com/data_images/dreams/paper/paper-10.jpg');
	font-family: 'Raleway';
}

.col-sm-6{
	padding: 20px;
	font-size: 25px;
	text-align: center;
	background-color: #C5C4C6;
}

.coba{
	padding: 30px;
	background-color: #C5C4C6;	
}

a:hover{
	background-color: grey;	
	color: white;
	text-decoration: none;
}

a{
	text-decoration: none;
}